<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Портфолио Владислава Ледащева" />

    <!-- Yandex.Metrika counter -->
    <!-- <script
        type="text/javascript"> (function (m, e, t, r, i, k, a) { m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) }; m[i].l = 1 * new Date(); for (var j = 0; j < document.scripts.length; j++) { if (document.scripts[j].src === r) { return; } } k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a) })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(93650657, "init", { clickmap: true, trackLinks: true, accurateTrackBounce: true, webvisor: true }); </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/93650657" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript> -->
    <!-- /Yandex.Metrika counter -->

    <!-- CSS stylesheets -->
    <link rel="stylesheet" href="/static/css/universal.css">
    <link rel="stylesheet" href="/static/css/about.css" />
    <link rel="stylesheet" href="/static/css/color_themes.css">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,700;1,700&family=Mulish:wght@400;600;700&family=Red+Hat+Text&family=Raleway&family=Inter:wght@700&display=swap"
        rel="stylesheet" />

    <title>
        <%= __('about-page-title') %>
    </title>
    <link rel="icon" type="image/x-icon" href="/static/images/other/favicon.ico" />
</head>

<body class="body_white">
    <div class="cursor"></div>
    <div class="trailing-cursor" id="trailing-cursor"></div>
    <script src="/static/javascript/TransitionAnimations.js"></script>
    <main>
        <header class="header">
            <div class="header__container">
                <div class="header__logo">
                </div>
                <div class="header__menu">
                    <div class="menu__body">
                        <ul class="menu__list">
                            <li class="menu__item">
                                <a href="#" class="menu__link text-black" onclick="fadeOutAbout()">
                                    <%= __('header-work') %>
                                </a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link text-black" id="fade-out_work-button"
                                    onclick="fadeInBurger()">
                                    <%= __('header-about') %>
                                </a>
                            </li>
                            <li class="menu__item">
                                <a onclick="resumeLink()" target="_blank" class="menu__link text-black">
                                    <%= __('header-resume') %>
                                </a>
                            </li>
                            <li class="menu__item">
                                <a target="" class="menu__link text-black" onclick="changeLanguage('userLang')">
                                    <%= __('header-switch-language') %>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="burger-button">
                        <a href="#" class="burger-button_link" onclick="fadeInBurger()">
                            <span class="burger-button_line"></span>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <div class="block-1">
            <div class="block-1__container">
                <div class="block-1__content">
                    <div class="block-1__image">
                        <div class="block-1__image-header text__header">
                            <p class="text__italic text-black">
                                <%= __('about-header') %>
                            </p>
                        </div>
                        <div class="block-1__image-image">
                            <img loading="lazy" src="/static/images/about/aboutMe_mainImage.webp" alt="" />
                        </div>
                    </div>
                    <div class="block-1__text text__text">
                        <p>
                            <%= __('about-block-1-text-1') %>
                        </p>
                        <br />
                        <p>
                            <%= __('about-block-1-text-2') %>
                        </p>
                        <br />
                        <p>
                            <%= __('about-block-1-text-3') %>
                        </p>
                        <br />
                        <p>
                            <%- __('about-block-1-text-4') %>
                        </p>
                        <br />
                        <p>
                            <%= __('about-block-1-text-5') %> <a class="text__link text-black"
                                    href="https://github.com/YBHPG">Github</a>.
                                <%= __('about-block-1-text-6') %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-2">
            <div class="block-2__container">
                <div class="block-2__content">
                    <div class="block-2__card card-1">
                        <div class="block-2__card-picture">
                            <img loading="lazy" src="/static/images/about/aboutMe_image1.webp" alt="" />
                        </div>
                        <div class="block-2__card-text text__text">
                            <p>
                                <%= __('about-block-2-text-1') %>
                            </p>
                        </div>
                    </div>
                    <div class="block-2__card card-2">
                        <div class="block-2__card-picture">
                            <img loading="lazy" class="height-auto-image" src="/static/images/about/aboutMe_image2.webp"
                                alt="" />
                        </div>
                        <div class="block-2__card-text text__text">
                            <p>
                                <%= __('about-block-2-text-2') %>
                            </p>
                        </div>
                    </div>
                    <div class="block-2__card card-3">
                        <div class="block-2__card-picture">
                            <img loading="lazy" src='/static/images/about/aboutMe_image3.webp' alt="" />
                        </div>
                        <div class="block-2__card-text text__text">
                            <p>
                                <%= __('about-block-2-text-3') %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <a href="#" class="top_button" onclick="topFunction()">
        <img loading="lazy" src="/static/images/other/icons8-up-2-48.webp" alt="arrow up" class="top-button__image" />
    </a>
    <footer>
        <div class="footer__container">
            <div class="footer__content">
                <div class="footer__main-block">
                    <div class="footer__greetings">
                        <p class="text__text">
                            <%= __('footer-greeting') %>
                        </p>
                        <p class="text__text">
                            <%= __('footer-email-1') %>
                                <a class="text__link text-black" href="mailto:ybhpg@icloud.com">
                                    <%= __('footer-email-2') %>
                                </a>
                                <%= __('footer-email-3') %>
                        </p>
                    </div>
                    <div class="footer__copyrights text__text">
                        <%= __('footer-copyright') %>
                    </div>
                </div>
                <div class="footer__socials">
                    <ul class="footer__socials-list">
                        <li class="footer__socials socials-variant">
                            <a href="https://t.me/ybhpg" class="social_link" target="_blank">
                                <p class="">Telegram</p>
                            </a>
                        </li>
                        <li class="socials-variant">
                            <p class="text__text social_link">|</p>
                        </li>
                        <li class="socials-variant">
                            <a href="https://www.instagram.com/bulbadyshka/" class="social_link" target="_blank">
                                <p class="">Instagram</p>
                            </a>
                        </li>
                        <li class="socials-variant">
                            <p class="text__text social_link">|</p>
                        </li>
                        <li class="socials-variant">
                            <a href="https://twitter.com/ybhpg57/" class="social_link" target="_blank">
                                <p class="">Twitter</p>
                            </a>
                        </li>
                        <li class="socials-variant">
                            <p class="text__text social_link">|</p>
                        </li>
                        <li class="socials-variant">
                            <a href="https://www.linkedin.com/mwlite/in/ybhpg" class="social_link" target="_blank">
                                <p class="">LinkedIn</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="/static/javascript/backToTopButton.js"></script>
    <script src="/static/javascript/cursorAnimation.js"></script>
    <script src="/static/javascript/themeChange.js"></script>
    <script src="/static/javascript/changeLanguage.js"></script>
    </div>
</body>

</html>